@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.container {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  margin: 30px;
  font-family: 'Anton', sans-serif;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  min-width: 100vw;
  font-size: 8vw;
  margin: 1rem;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  align-self: center;
}

#roll {
  display: flex;
  flex: 1 1 auto;
  outline: none;
  font-size: 1.1em;
  background-color: cornflowerblue;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
}

#roll:hover {
  cursor: pointer;
  background-color: rgb(76, 137, 250);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
